a{
    text-decoration: none;
}

/* Video */
/* Content on the video */
.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0 ; /* Center container */
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Floating content style */
.hero-overlay {
    position: absolute; 
    top:50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
    z-index: 10;
}

.hero-overlay h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-overlay p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero-overlay .buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: rgba(255, 102, 0, 0.8);/*semi-transparent background color */
    border: none;
    color: white;
    cursor: pointer;
}

.hero-overlay .buttons button:hover {
    background-color: rgba(255, 102, 0, 1); 
}

/*Mouse hover effect */
/* hero */
.hero{
    position: relative;
    text-align: center;
    color: #fff;
    margin-top: 30px;
}

.hero-content h1{
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-content p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero-content .buttons button{
    margin: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff6600;
    border: none;
    cursor: pointer;
    color: #fff;
}

.hero-background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('hero-ground.jpg') no-repeat center center/cover;
    z-index: -1;
}
/* Triangle Cover */
.triangle-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    clip-path: polygon(0 0, 50% 100%,100% 0);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.triangle-content{
    color:white;
    z-index: 20;
    position: relative;
    top: -20px;
    text-align: center;
}

.triangle-content h1{
    font-size: 3rem;
    margin-bottom: 10px;
}

.triangle-content p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.triangle-content .buttons button{
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: rgba(225, 102, 0, 0.8);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.triangle-content .buttons button:hover{
    background-color: rgba(225, 102, 0, 1);
}

/* End */
/* News Start */
.news-section {
    position: absolute;
    padding: 20px;
    text-align: center;
}
    
.news-title {
    font-size: 36px;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
}
    
.news-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom :20px;
}
    
.news-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    overflow: hidden;
    max-width: 100%;
    box-sizing: border-box;
}

.news-item {
    display: flex;
    flex: 1 1 calc(33.333% - 10px);
    box-sizing: border-box;
    width: 450px;
    height: 400px;
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Some Animationd effect */
.news-item:hover{
    transform: scale(1.07);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

 .news-image {
    width: 100%;
    height: 250px;
    object-fit: cover; 
    display: block;
}
    
.news-caption {
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    
}
    
/* view All button */
.view-all-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #FFA500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
    
.view-all-button:hover {
    background-color: #e69500;
}
/* News End */
/* backgroundImage Start */
.bg{
    text-align: center;
    font-size: 64px;
    font-weight: bolder;
    height: 115px;
    line-height: 115px;
    background-color:#210000;
}

.image_1{
    position: relative;
    background-image: url(../images/index_background01.png);
    background-position: 0 0;
    background-attachment: fixed;
    background-size: cover;
    height: 680px;
    width: 100%;
    overflow: hidden;
}
.image_2{
    background-image: url(../images/index_background02.png);
    background-position: 0 0;
    background-attachment: fixed;
    background-size: cover;
    height: 680px;
    width: 100%;
}
.image_3{
    background-image: url(../images/index_background03.png);
    background-position: 0 0;
    background-attachment: fixed;
    background-size: cover;
    height: 680px;
    width: 100%;
}
/* backgroundImage End */

/* index Start */
/* 父容器样式 */
.video-container_2 {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 20px;
  }
  
  .video-grid {
    display: flex;
    gap: 30px;
  }

  .video-item video {
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
  
/* index End */
  