body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 9, 6);
    color: white;
    padding-top: 500px
}

.login-container {
    color: black;
    width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: rgba(242, 163, 102);
    color: rgb(255, 255, 255);
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: rgba(242, 163, 102);
}

.login-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.login-header h1 {
    font-size: 1.8rem;
    font-weight: bold;
}