/* 视频背景样式 */
.video-header {
    position: relative;
    width: 100%;
    height: 50vh; /* 占二分之一高度 */
    overflow: hidden;
    background: #000;
}

.bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 动态文字动画 */
.animated-text {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    animation: text-glow 3s infinite alternate ease-in-out, float 4s infinite ease-in-out;
}

@keyframes text-glow {
    0% { color: #e86c11; text-shadow: 0 0 5px #cdad0f; }
    50% { color: #ef9205; text-shadow: 0 0 15px #f66105; }
    100% { color: #d1e817; text-shadow: 0 0 20px #faed03; }
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

/* 动态背景效果 */
.scrolling-container {
    background: linear-gradient(90deg, #32329a, #052150, #040422, #1148ac);
    background-size: 400% 400%;
    animation: gradient-animation 10s infinite;
    min-height: 100vh;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* 新闻卡片样式 */
.news-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    background: rgba(229, 232, 237, 0.24);
    transition: transform 0.3s ease-in-out;
}

.news-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.news-card:hover img {
    transform: scale(1.1);
}

.news-card .card-content {
    padding: 15px;
    color: #070707;
}

.news-card h5 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff0000;
}

.news-card p {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8);
}

/* 按钮样式 */
.read-more-btn {
    background: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

.read-more-btn:hover {
    background: #1d6fa5;
}

.news-card:hover {
    background: rgba(229, 233, 237, 0.24);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
}

/* 改变 Latest News 标题的字体颜色 */
.section-title {
    color: rgba(239, 107, 11, 0.87); /* 设置字体颜色为橙色 */
    font-size: 2.5rem; /* 设置字体大小 */
    font-weight: bold; /* 设置字体加粗 */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* 增加文本阴影效果 */
    text-align: center; /* 居中对齐 */
}